.list{
    color:#fff;
    width:200px;
    background-color: #bf07ac;
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
}
.list p{
    padding: 10px;
}
.list p span{
    position: absolute;
    right: 2px;
    cursor: pointer;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
}